
# Configuración de Mime Types para archivos de React/TypeScript
<IfModule mod_mime.c>
    AddType application/javascript .ts
    AddType application/javascript .tsx
</IfModule>

# Evitar que el navegador bloquee la ejecución de los scripts
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

# Redirección básica (Opcional, permite recargar rutas de React)
RewriteEngine On

# Proxy Rewrite Rules
RewriteRule ^groq-api/(.*)$ proxy.php [L,QSA]
RewriteRule ^openai-api/(.*)$ proxy.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
